<div class="spinner">

</div>

<div class="overlay">
    
</div>

<div id="content">
    <section id="mainContent">
        <nav>
            <ul>
                <li><a class="links" id="dashboard" href="/students/dashboard/{{id}}">My Dashboard</a></li>
                <li><a class="links" href="/students/studentRecord/{{id}}">Log Book</a></li>
                <li><a id="logout" href="/">Logout</a></li>
            </ul>
        
        </nav>
        <div id="welcomeText">Welcome back <span style="color: #ffffff;">{{studentName}}</span> <span>you logged in at {{time}}</span></div>

        <section id="mainItems">
            <div class="items first" id="firstItem">
                <a href="/students/studentRecord/{{id}}" class="icon-links"><i class="material-icons icons">library_books</i></a>
                <p>My Logbook</p>
            </div>

            <div class="items second" id="secondItem">
                <i class="material-icons icons" id="profile">account_box</i>
                <p>My Profile</p>
            </div>

            <div class="items first" id="thirdItem">
                <i class="material-icons icons" id="about">info_outline</i>
                <p>About SIWES</p>
            </div>

            <div class="items second" id="fourthItem">
                <i class="material-icons icons" id="locations">room</i>
                <p>ITF Locations</p>
            </div>

            <div id="modal">
                <section id="modalContent">
                    <header class="modalHeader">
                        <h3 class="modalHeaderText"><i class="material-icons profile">person_outline</i>&nbsp;&nbsp;&nbsp;&nbsp;My Profile <i class="material-icons close">close</i></h3>
                    </header>
                    <div id="studentInfo">
                        <div id="nameDiv" class="infoSections">
                            <label for="studentName">Name</label><br>
                            <input value="{{studentName}}" type="text" id="studentName" name="studentName" disabled>
                        </div>
                        <div class="infoSections">
                            <label for="regNo">Registration Number</label><br>
                            <input value="{{regNo}}" type="text" id="regNo" name="regNo" disabled>
                        </div>
                        <div class="infoSections">
                            <label for="school">School</label><br>
                            <input value="{{school}}" type="text" id="school" name="school" disabled>
                        </div>
                        <div class="infoSections">
                            <label for="department">Department</label><br>
                            <input value="{{department}}" type="text" id="department" name="department" disabled>
                        </div>
                        <div class="infoSections" id="passwordSection">
                            <label for="password">Password</label><br>
                            <input value="{{password}}" type="password" id="password" name="password" disabled>
                        </div>
                    </div>
                    <footer id="modalFooter">
                        <button id="editButton">Edit</button>
                        <button id="saveButton" data-id="{{id}}">Save</button>
                        <button id="cancelButton">Cancel</button>
                    </footer>
                </section>
            </div>

            <div id="aboutModal">
                <section id="aboutModalContent">
                    <header class="modalHeader">
                        <h3 class="modalHeaderText"><i class="material-icons profile">info_outline</i>&nbsp;&nbsp;&nbsp;&nbsp;About SIWES <i id="aboutModalClose" class="material-icons close">close</i></h3>
                    </header>
                    <section id="aboutModalText">
                        <h2>History of SIWES</h2><br>
                        <p id="modalParagraph">
                            The Student Industrial Work Experience Scheme (SIWES) was Establish in 1973 by Industrial Training Fund (ITF) it is a very important program , involving the student, 
                            University, Industries, it is skill training program design to expose an prepare student of tertiary institution for the industrial work situations the are likely to meet after graduation.
                        </p><br>
                        <hr>
                        <br>

                        <h2>Aims and Objectives of SIWES</h2><br>
                        <p>The objectives of the student’s industrial work experience scheme [SIWES] are as follows:</p>
                        <ul class="aboutModalList">
                            <li>To expose students to work methods and technique in handling equipment and machinery that may not be available in the universities</li>
                            <li>To prepare students for the work situation they are likely to meet after graduation.</li>
                            <li>To provide an avenue for Nigerian universities to acquire industrial skills and experience in their course of study.</li>
                            <li>To provide students with an opportunity to apply their theoretical knowledge in real work situation there by bridging the gap between university work and actual practice.</li>
                            <li>To make the transition from the university to the world of work easier and thus, enhance students contacts for later job placement.</li>
                        </ul><br>
                        <hr>
                        <br>
                        <h2>Bodies Involved in the Management of SIWES</h2><br>
                        <ul class="aboutModalList">
                            <li>The Federal Government (FG).</li>
                            <li>Industrial Training Fund (ITF).</li>
                            <li>National University Commission (NUC).</li>
                            <li>The institution (universities).</li>
                        </ul>

                        <br>
                        <ul class="aboutModalList">
                            <li>
                                <span class="orderedListHeaders">The Federal Government</span>
                                <ol class="aboutModalOrderedList">
                                    <li>Makes adequate fund available to the Federal Ministry of Industry to fund the scheme.</li>
                                    <li>Make it mandatory for all Ministries, Companies and Government Parastatal to offer attachment places to students. </li>
                                    <li>Make it a policy to include a clause in every major contract lasting over six to nine months being awarded for contract to take students on attachment.</li>
                                </ol>
                            </li>

                            <br>
                            <li>
                                <span class="orderedListHeaders">Industrial Training Fund</span>
                                <ol class="aboutModalOrderedList">
                                    <li>Provide logistic materiel needed to administer the scheme.</li>
                                    <li>Compile lists of employers and available training places for industrial attachment and 	forward such lists to the coordinating Agencies. i.e. NUC, NBTE, NCCE.</li>
                                    <li>Organize biennial conferences and seminars on SIWES.</li>
                                </ol>
                            </li>

                            <br>
                            <li>
                                <span class="orderedListHeaders">National University Commission</span>
                                <ol class="aboutModalOrderedList">
                                    <li>Establish SIWES coordinating Units.</li>
                                    <li>Appoint full time coordinators to operate the scheme at agency level.</li>
                                    <li>Evolve a minimum national guide programme for supervised industrial training activities for approved courses.</li>
                                </ol>
                            </li>

                            <br>
                            <li>
                                <span class="orderedListHeaders">The Institutions (Universities)</span>
                                <ol class="aboutModalOrderedList">
                                    <li>Establish SIWES coordinating units and appoint Department/Faculty SIWES coordinators within the institutions.</li>
                                    <li>Appoint full-time Industrial Coordinators to operate the scheme at institutional level.</li>
                                    <li>Prepare and submit Master and placement to the respective coordinating agency and 	ITF.</li>
                                    <li>Place students on attachment with employee.</li>
                                    <li>Organize orientation program for students to prepare them for industrial training. ITF representative may be invited to give a talk to the students during the orientation 	programme.</li>
                                    <li>Work out industrial tailor-made program with the employers based supervisor on the 	National Industrial Training guideline for such course.</li>
                                    <li>Supervise students on attachment and sign their logbooks. A minimum three visits should be made to the students by the institution's supervisor during the period of attachment.</li>
                                    <li>Assess student's performance and award grades accordingly.</li>
                                    <li>Submit completed ITF Form 8 to the ITF at the end of the program.</li>
                                    <li>Maintain separate account books on the scheme to the ITF after the program.</li>
                                </ol>
                            </li>
                            
                        </ul>
                        <br>
                        <br>
                        <hr>
                    </section>
                </section>
            </div>

            <div id="itfModal">
                <section id="itfModalContent">
                    <header class="modalHeader">
                        <h3 class="modalHeaderText"><i class="material-icons profile">room</i>&nbsp;&nbsp;&nbsp;&nbsp;ITF OFFICES <i id="itfModalClose" class="material-icons close">close</i></h3>
                    </header>
                    <section id="itfModalText">
                        <h2 style="text-align: center;">INDUSTRIAL TRAINING FUND LOCATIONS IN NIGERIA</h2><br><hr><br>
                        <ul class="itfModalList">
                            <li>ITF Headquarters Office Complex, Miango Road (opposite Low Cost Building), PMB 2199. Jos, Plateau State.</li>
                            <li>ITF Corporate Headquarters Abuja, plot No. 440, Area 5 Maitama District. PMB 126. Abuja Nigeria.</li>
                            <li>ITF Area Office, Onyike Street, Off Omoba Road, Ogbor Hill. PMB 7017. Abia, Aba. </li>
                            <li>ITF Area Office, Bauchi Gombe Road, PMB 0270. Bauchi State.</li>
                            <li>ITF Area Office, Calabar Block G Northern Industrial Layout, Ikot Ansa, Murtala Mohammed High Way, PMB 1301. Calabar, Cross Rivers State. </li>
                            <li>ITF Area Office, Akure Old Owo-Ado Ekiti Road. PMB 248, Akure, On do State. </li>
                            <li>ITF Area Office, Abeokuta 2nd floor, Federal Secretariat, Kobape Road, Abeokuta, Ogun State.</li>
                            <li>ITF Area Office, Benin No. 180 Ekenwan Road Opp. Bendel Wood Industry Ltd. PO BOX 831. Benin, Edo State. </li>
                            <li>ITF Area Office, Enugu Kilometre 12/13 Abakiliki Express Emene Industrial Layout, PMB 01007, Enugu, Enugu State.</li>
                            <li>ITF Area Office, Ilorin Asa Dam Road. PO BOX 655, Ilorin, Kwara State.</li>
                            <li>ITF Area Office, Kaduna. ITF House, Plot 15 ITF Avenue Behind ABG electronics Factory Tudun Wada Pan Bye Pass. PMB 2163, Kaduna, Kaduna State. </li>
                            <li>ITF Area Office, Ibadan Queen Elizabeth Road, PMB 5119, Ibadan, Oyo State. </li>
                            <li>ITF Area Office, Joseph Kufang, Miango Road. PMB 2163 Jos, Plateau State.</li>
                            <li>ITF Area Office, Kano 120/124 Kawaji Layout Off Hadeji Road, PMB 3241, Kano, Kano state. </li>
                            <li>ITF Area Office, Lagos Olorunfemi Street, Olusosun Road, behind Phillip Factor, PMB 12660, Lagos Nigeria. </li>
                            <li>ITF Area Office, Makurdi behind UTC Motors New Bridge Road, PMB 102050, Makurdi, Benue State. </li>
                            <li>ITF Area Office, Sokoto Off Kalambama Road behind Sokoto Foam factory, PMB 2272, Sokoto State.</li>
                            <li>ITF Area Office, Uyo 7 Kevin Street, PMB 1156, Uyo Akwa Ibom State. </li>
                            <li>ITF Area Office, Katsina Dustin-ma road, Opposite Katsina steel Rolling Company, Guest House, PMB 2157, Katsina State. </li>
                            <li>ITF Area Office, Maiduguri 1st Floor Federal Secretariat Near Born on Express Terminus, PMB 1010, Borno State. </li>
                            <li>ITF Area Office, Minna Mohammed K Batu Road, PMB 158, Minna, Niger State. </li>
                            <li>ITF Area Office, PORTHARCOURT plot 101 Trans-Amadi Industrial Layout, PMB 5765, Rivers State.</li>
                            <li>ITF Area Office, Ola 26 Ahmadu Bello way, PMB 2200, Jimeta Yola. </li>
                            <li>ITF Area Office, Abuja Old Secretariat, Block D Room 330/331, PMB 126, Garki- Abuja.</li>
                            <li>ITF Area Office, Lokoja Near Radio Kogi Secretariat Kabba/Okene Road Lokoja.</li>
                        </ul>  
                        <br><br><hr>
                    </section>
                </section>
            </div>

        </section>
    </section>

    <footer>
        <hr>
        <br>
        <br>
        &copy; Student Industrial Work Experience Scheme 2018 - All Rights Reserved
    </footer>
</div>