<div class="spinner">

</div>

<div class="overlay">
    
</div>

<div id="content">
    <section id="mainContent">
        <nav>
            <ul>
                <li><a class="links" id="dashboard" href="/students/dashboard/{{id}}">My Dashboard</a></li>
                <li><a class="links" href="/students/studentRecord/{{id}}">Log Book</a></li>
                <li><a id="logout" href="/">Logout</a></li>
            </ul>
        
        </nav>
        <div id="welcomeText">Welcome back <span style="color: #ffffff;">{{name}}</span> <span>you logged in at {{time}}</span></div>

        <section id="mainItems">
            <div class="items first" id="firstItem">
                <a href="/students/studentRecord/{{id}}" class="icon-links"><i class="material-icons icons">library_books</i></a>
                <p>My Logbook</p>
            </div>

            <div class="items second" id="secondItem">
                <i class="material-icons icons" id="profile">account_box</i>
                <p>My Profile</p>
            </div>

            <div class="items first" id="thirdItem">
                <i class="material-icons icons">dashboard</i>
                <p>Dashboard</p>
            </div>

            <div class="items second" id="fourthItem">
                <i class="material-icons icons">explore</i>
                <p>explore</p>
            </div>

            <div id="modal">
                <section id="modalContent">
                    <header id="modalHeader">
                        <h3 id="modalHeaderText"><i class="material-icons profile">person_outline</i>&nbsp;&nbsp;&nbsp;&nbsp;My Profile <i class="material-icons close">close</i></h3>
                    </header>
                    <div id="studentInfo">
                        <div id="nameDiv" class="infoSections">
                            <label for="studentName">Name</label><br>
                            <input value="Mike" type="text" id="studentName" name="studentName" disabled>
                        </div>
                        <div class="infoSections">
                            <label for="regNo">Registration Number</label><br>
                            <input value="Mike" type="text" id="regNo" name="regNo" disabled>
                        </div>
                        <div class="infoSections">
                            <label for="school">School</label><br>
                            <input value="Mike" type="text" id="school" name="school" disabled>
                        </div>
                        <div class="infoSections">
                            <label for="department">Department</label><br>
                            <input value="Mike" type="text" id="department" name="department" disabled>
                        </div>
                        <div class="infoSections">
                            <label for="password">Password</label><br>
                            <input value="Mike" type="password" id="studentName" name="password" disabled>
                        </div>
                    </div>
                    <footer id="modalFooter">
                        <button id="editButton">Edit</button>
                        <button id="saveButton">Save</button>
                        <button id="cancelButton">Cancel</button>
                    </footer>
                </section>
            </div>
        </section>
    </section>

    <footer>
        <hr>
        <br>
        <br>
        &copy Student Industrial Work Experience Scheme 2018 - All Rights Reserved
    </footer>
</div>