<div class="overlay">
    
</div>
<div class="spinner">

</div>
<div id="container">
    <form name="form" method="PUT" action="/students/studentRecord/:id">
        <header>
            <h1>DAILY/WEEKLY RECORD OF ACTIVITIES</h1>
            <nav>
                <ul>
                    <li id="homeLink"><a href="/students/dashboard/{{id}}">Dashboard</a></li>
                    <li id="logout"><a href="/">Log out</a></li>
                </ul>
            </nav>
            <select id="week" name="week">
                <option class="options" selected disabled>Select Week</option>
                <option class="options">Week 1</option>
                <option>Week 2</option>
                <option>Week 3</option>
                <option>Week 4</option>
                <option>Week 5</option>
                <option>Week 6</option>
            </select>
            <div id="studentNameDiv">
                {{#if student}}
                    {{!-- <label for="studentName" id="studentNameLabel" style="color: #007caf">Name: </label> --}}
                    <span id="studentName">{{name}}</span><span id="loggedIn">Logged in at {{time}}</span>
                {{/if}}
                {{#if supervisor}}
                    <span id="supervisorName">Supervisor Logged In at {{time}}</span>
                {{/if}}
            </div>
        </header>
    
            <section id="mainSection">
                {{!-- <p>DAY</p>
                <p>DESCRIPTION OF ACTIVITIES</p> --}}
                <div class="inputSections">
                    <label class="dateLabel">Monday*</label>
                    <textarea value="mike" id="mondayTextArea" name="mondayTextArea" class="mainTextAreas" placeholder="Work Description......" disabled>{{monday}}</textarea>
                    <button id="mondayEditButton" class="formButtons" name="mondayEditButton">Edit</button>
                </div>
                
                <div class="inputSections">
                    <label class="dateLabel">Tuesday*</label>
                    <textarea id="tuesdayTextArea" name="tuesdayTextArea" class="mainTextAreas" placeholder="Work Description......" disabled>{{tuesday}}</textarea>
                    <button id="tuesdayEditButton" class="formButtons" name="tuesdayEditButton">Edit</button>
                </div>
                    
                <div class="inputSections">
                    <label class="dateLabel">Wednesday*</label>
                    <textarea id="wednesdayTextArea" name="wednesdayTextArea" class="mainTextAreas" placeholder="Work Description......" disabled>{{wednesday}}</textarea>
                    <button id="wednesdayEditButton" class="formButtons" name="wednesdayEditButton">Edit</button>
                </div>
    
                <div class="inputSections">
                    <label class="dateLabel">Thursday*</label>
                    <textarea id="thursdayTextArea" name="thursdayTextArea" class="mainTextAreas" placeholder="Work Description......" disabled>{{thursday}}</textarea>
                    <button id="thursdayEditButton" class="formButtons" name="thursdayEditButton">Edit</button>
                </div>
                    
                <div class="inputSections">
                    <label class="dateLabel">Friday*</label>
                    <textarea id="fridayTextArea" name="fridayTextArea" class="mainTextAreas" placeholder="Work Description......" disabled>{{friday}}</textarea>
                    <button id="fridayEditButton" class="formButtons" name="fridayEditButton">Edit</button>
                </div>                
            </section>

            <section id="footerSection">
                <div class="footerSections" id="departmentSection">
                    <label for="department" id="deptLabel" class="footerLabels">Section/Department Attached:</label>
                    <input type="text" id="department" name="department" value="{{department}}" class="footerTextFields footerInputs" disabled>
                </div>
                <div class="footerSections" id="weekJobSection">
                    <label for="weekJob" id="jobLabel" class="footerLabels">Project or Job for the Week *</label>
                    <input value="{{weekJob}}" type="text" id="weekJob" name="weekJob" class="footerTextFields footerInputs" placeholder="Job Title for the Week">
                </div>

                <div class="footerSections" id="supervisorCommentSection">
                    <label id="supervisorCommentLabel" class="footerLabels" for="supervisorComment">Comment by Industry Based Supervisor *</label>
                    <textarea value="{{supervisorComment}}" id="supervisorComment" name="supervisorComment" class="footerInputs" placeholder="Comment here......"></textarea>
                </div>

                <div class="footerSections" id="supervisorNameSection">
                    <label for="supervisorName" class="footerLabels">Name *</label>
                    <input value="{{supervisorName}}" type="text" id="supervisorName" class="footerTextFields footerInputs" name="supervisorName" placeholder="Supervisor name">
                </div>

                <div class="footerSections" id="dateSection">
                    <label for="date" class="footerLabels">Date *</label>
                    <input type="text" id="date" name="date" value="{{date}}" class="footerInputs" disabled>
                </div>
            </section>

            <button id="submitButton" name="submitButton" data-id="{{id}}">Submit Record</button>
        </form>

    <footer id="mainFooter">
        <hr>
        <br>
        <br>
        &copy Student Industrial Work Experience Scheme 2018 - All Rights Reserved
    </footer>
</div>

